/* TABLE WRAPPER */
.adhan_table{
    max-width: 990px;
    margin: 0 auto;
}

/* FORM */
.form_wrap{
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
}
.form_input {
    font-size: 14px;
}

label {
    display: block;
    font-weight: 500;
}

select {
    display: block;
    padding: 4px 4px !important;
    width: 225px !important;
}

select, input {
    font: 14px arial,sans-serif;
    line-height: 20px;
    padding: 2px 4px;
    display: block;
    width: 100%;
}

input#city {
    width: 110px;
}

input#year {
    width: 60px;
}
.btn {
    padding: 0px 10px;
    line-height: 26px;
    display: inline-block;
    font-weight: 500;
    margin-top: 19px;
    cursor: pointer;
    background-color: #4585fd;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #4585fd;
    transition: background-color .15s ease-in-out;
}
.btn:hover {
    background-color: #3e7cf1;
}
.btn.disabled {
    pointer-events: none;
    background-color: #f5f6f7;
    border-color: #ccd0d5;
    color: #9d9e9e;
}




/* TABLE */
.table{
    position: relative;
    min-height: 400px;
    min-height: 270px;
    background-color: #f9f9f9;
}
.table .form_input{
    display: none;
    max-width: 225px;
    margin: 0 auto;
    padding:  0 0 1rem;
}
p.info{
    position: absolute;
    width: 100%;
    height: auto;
    top: 58px;
    left: 0;
    text-align: center;
    font-style: italic;
    color: #afafaf;
    font-size: 13px;
}
.table.hide_note{
    background-color: transparent;
}
.table.hide_note p.info{
    display: none;
}
.table.hide_note .form_input{
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px 16px;
}
td {
    font-size: 13px;
}
th {
    font-weight: 500;
}
thead{
    background-color: #e6e6e6
}
tr:nth-child(even) {
    background-color: #f9f9f9
}
tbody tr:hover{
    background-color: #f5f5f5;
}











/* ERROR */

.label {
    font-size: 14px;
    background: #e0e1e1;
    color: #424242;
    padding: 1rem;
    margin-bottom: .5rem;
    position: relative;
    border-radius: 2px;
}

.label.error {
    background: #d2413b;
    color: #fff
}

.label.success {
    background: #24a74c;
    color: #fff
}
.required {
    position: relative;
    top: -2px;
    font-weight: bold;
    color: #f03c69;
    font-size: 12px;
}
b {
    font-weight: 500;
}
.close {
    display: inline-block;
    min-height: 16px;
    min-width: 16px;
    line-height: 11px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    opacity: .6;
    position: absolute;
    right: .6rem;
    top: 14px;
    padding: 4px;
    cursor: pointer;
}
.close:hover{
    background-color: rgba(0,0,0,.08);
    opacity: 1;
}
